#!/usr/bin/make -f

DESTDIR = $(CURDIR)/debian/

build:
	rm -frv usr var
	mkdir -p usr var
	mkdir -p usr/lib/python2.7/dist-packages/pulse_xmpp_agent/pluginsrelay
	mkdir -p usr/lib/python2.7/dist-packages/pulse_xmpp_agent/pluginsmachine
	mkdir -p var/lib/pulse2/xmpp_baseplugin
	mkdir -p var/lib/pulse2/xmpp_basepluginscheduler
	cp -frv pulse_agent_plugins/common/plugin_* var/lib/pulse2/xmpp_baseplugin
	cp -frv pulse_agent_plugins/machine/plugin_* var/lib/pulse2/xmpp_baseplugin
	cp -frv pulse_agent_plugins/relay/plugin_* var/lib/pulse2/xmpp_baseplugin
	cp -fv  pulse_agent_plugins/common/scheduling_* var/lib/pulse2/xmpp_basepluginscheduler
	cp -fv  pulse_agent_plugins/machine/scheduling_* var/lib/pulse2/xmpp_basepluginscheduler
	cp -fv  pulse_agent_plugins/relay/scheduling_* var/lib/pulse2/xmpp_basepluginscheduler
	cp -fv pulse_agent_plugins/common/plugin_* usr/lib/python2.7/dist-packages/pulse_xmpp_agent/pluginsrelay
	cp -fv pulse_agent_plugins/common/plugin_* usr/lib/python2.7/dist-packages/pulse_xmpp_agent/pluginsmachine
	cp -fv pulse_agent_plugins/machine/plugin_* usr/lib/python2.7/dist-packages/pulse_xmpp_agent/pluginsmachine
	cp -frv pulse_agent_plugins/relay/plugin_* usr/lib/python2.7/dist-packages/pulse_xmpp_agent/pluginsrelay
	mkdir -p usr/lib/python2.7/dist-packages/pulse_xmpp_agent/descriptor_scheduler_machine/
	cp -fv pulse_agent_plugins/machine/scheduling_*.py usr/lib/python2.7/dist-packages/pulse_xmpp_agent/descriptor_scheduler_machine/
	mkdir -p usr/lib/python2.7/dist-packages/pulse_xmpp_agent/descriptor_scheduler_relay/
	cp -fv pulse_agent_plugins/relay/scheduling_*.py usr/lib/python2.7/dist-packages/pulse_xmpp_agent/descriptor_scheduler_relay/
	cp -fv pulse_agent_plugins/common/scheduling_*.py usr/lib/python2.7/dist-packages/pulse_xmpp_agent/descriptor_scheduler_machine/
	cp -fv pulse_agent_plugins/common/scheduling_*.py usr/lib/python2.7/dist-packages/pulse_xmpp_agent/descriptor_scheduler_relay/
	mkdir -p var/lib/pulse2/clients/config
	cp pulse_agent_plugins/config/guacamoleconf.ini.in var/lib/pulse2/clients/config
	cp pulse_agent_plugins/config/downloadfile.ini.in var/lib/pulse2/clients/config
	cp pulse_agent_plugins/config/downloadfileexpert.ini.in var/lib/pulse2/clients/config
	cp pulse_agent_plugins/config/inventory.ini.in var/lib/pulse2/clients/config
	cp pulse_agent_plugins/config/applicationdeploymentjson.ini.in var/lib/pulse2/clients/config
	cp pulse_agent_plugins/config/guacamole.ini.in var/lib/pulse2/clients/config
	cp pulse_agent_plugins/config/reverse_ssh_on.ini.in var/lib/pulse2/clients/config
	rm -fv var/lib/pulse2/xmpp_baseplugin/plugin_updateagent.py

clean:
	dh_testdir
	dh_testroot
	-$(MAKE) clean
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

binary-indep: build install
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_install
	dh_fixperms
	dh_installchangelogs
	dh_installdocs
	dh_installinit
	# Some postinstall tools are known to fails after being stripped
	#dh_strip
	dh_link
	dh_compress
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
